*{
	margin: 0;
	padding: 0;
}
body{
background-color:#F9F9F9;
}
#mydiv{
	width:950px;
	height: 830px;
	position: relative;
	margin-left:150px;
    margin-right: 150px;
    background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
#conteiner{
	width:880px;
	height: 825px;
	position: absolute;
	left: 35px;
	top: 0px;
	bottom:0px;
    background-color: #FFFFFF;


}

.header{
	margin: 23px 10px;
	font-style: color:#2E2E2E;
}
#navbar-horizontal li{
	display: inline-block;


}
.nav{
	background-color: #4E4E4E;
	padding: 10px;
}
#navbar-horizontal a{
color:#FFFFFF;
padding: 10px;

}
li {
    list-style-type: none; /* Убираем маркеры */
   }
a{
	text-decoration: none;
    font-weight: bold;
    font-weight: 10px;
}
#navbar-horizontal a:hover{
	background:#393939;
	border: 1px;
	color: #828282;
}
#conteiner-father{
	position: relative;
	margin-top:15px;
	height: 550px;

}
#navbar-vertical{
	position: relative;
	margin-top: 35px;
	line-height:25px;
	width:158px;
	height: 185px;

}
#sidebar{
	margin-top: 15px;
}

#navbar-vertical li{
	border: 1px solid #D6D6D6;
}
#navbar-vertical li:hover{
background:#E1E1E1;
text-indent: 6%;
}

#navbar-vertical a{
padding: 10px;
color:#A6A5A5;

}

#presentation{
position: absolute;
left: 280px;
width: 600px;
height: 515px;
top:0px;
}
#box1{
	position: relative;
	height: 500px;
	
}
#foto{
	text-align: center;
	border: 1px solid #D6D6D6;

}
#content{
	margin:10px;
	margin-top: 25px;
	height: 200px;
}


footer li{
	display: inline-block;
	padding: 10px;
	font-size:15px;
    font-weight: 5px;
}
#navbar-footer{
background-color: #E1E1E1;
margin-top: 20px;
}
#navbar-footer a{
padding: 10px;
color:#858585;
}
#navbar-footer a:hover{
background:#B1B1B3;
}
.footer-1{
	margin-right: 0px;
}
#foo1{
	float: left;
}
#foo2{
	float: right;
}
